body
	background-color blanchedalmond 
	color slategrey
	font-family sans-serif

#left
	border 2px solid black
	display inline-block
	position relative
	background-color lighten(blanchedalmond, 5)
	width: 20%
	margin: 0 auto
	padding: 20px
	text-align: center
		
#right
	border 2px solid black
	display inline-block
	position relative
	background-color lighten(blanchedalmond, 5)
	width: 20%
	margin: 0 auto
	padding: 20px
				
h1, h2, #total
	text-align center
	

	
	
	

	