body {
  background-color: #ffebcd;
  color: #708090;
  font-family: sans-serif;
}
#left {
  border: 2px solid #000;
  display: inline-block;
  position: relative;
  background-color: #fff5e7;
  width: 20%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
#right {
  border: 2px solid #000;
  display: inline-block;
  position: relative;
  background-color: #fff5e7;
  width: 20%;
  margin: 0 auto;
  padding: 20px;
}
h1,
h2,
#total {
  text-align: center;
}
